<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel();" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add More Analysis to {{addClientAnalysisData.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input type="text" placeholder="Analysis Name" ng-model="$parent.addclientMore.analysisName" class="form-control login-input">
                </div>
                <div class="col-sm-6 form-group">
                    <tags-input class="custom-client-tag" ng-model="$parent.addclientMore.tags"></tags-input>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 form-group">
                    <input  type="file" ngf-select ng-model="$parent.addclientMore.file" name="File" ngf-max-size="120MB" fileread required
                        multiple/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel();" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addMoreAnalysis();">Add Analysis</button>
    </div>
</div>