<div class="modal-content custom-modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel();" class="close custom-close" data-dismiss="modal" aria-label="Close">
            <span class="custom-closebtn" aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Know More </h4>
    </div>
    <div class="modal-body">
        <p class="mtb-10" ng-repeat="tip in CustomizedTip">
            {{tip}}
        </p>
    </div>
</div>