/* start new tooltip */
/*============================================================== 
 flot chart
 ============================================================== */
.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

html body .jqstooltip,
html body .flotTip {
  width: auto !important;
  height: auto !important;
  background: #263238;
  color: #ffffff;
  padding: 5px 10px; }

/*============================================================== 
Dashboard3 chart
 ============================================================== */
.total-sales {
  position: relative; }
  .total-sales .chartist-tooltip {
    background: #2f3d4a; }
  .total-sales .ct-series-a .ct-bar {
    stroke: #1e88e5; }
  .total-sales .ct-series-b .ct-bar {
    stroke: #26c6da; }
  .total-sales .ct-series-c .ct-bar {
    stroke: #fc4b6c; }

.ct-chart {
  position: relative; }
  .ct-chart .ct-series-a .ct-slice-donut {
    stroke: #26c6da; }
  .ct-chart .ct-series-b .ct-slice-donut {
    stroke: #f2f4f8; }
  .ct-chart .ct-series-c .ct-slice-donut {
    stroke: #1e88e5; }

#visitfromworld path.jvectormap-region.jvectormap-element {
  stroke-width: 1px;
  stroke: #99abb4; }

.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
  background: #99abb4; }

.browser td {
  vertical-align: middle;
  padding-left: 0px; }

#calendar .fc-today-button {
  display: none; }

.calendar-events {
  padding: 8px 10px;
  border: 1px solid #ffffff;
  cursor: move; }
  .calendar-events:hover {
    border: 1px dashed rgba(120, 130, 140, 0.13); }
  .calendar-events i {
    margin-right: 8px; }
/*******************
Stylish tooltip
******************/
.mytooltip:hover .mytooltip:hover {
  opacity: 1;
  font-size: 18px;
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

.mytooltip:hover .mytooltip:hover {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.mytooltip {
  display: inline;
  position: relative;
  z-index: 9999; }
  .mytooltip:hover .tooltip-item::after {
    pointer-events: auto; }
  .mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }
  .mytooltip:hover .tooltip-content5 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  
.tooltip-item {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 0 10px; }

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: rgba(0,0,0,0.8);
  opacity: 0;
  cursor: default;
  pointer-events: none; }

.tooltip-effect-5 .tooltip-content {
  width: 300px;
  margin-left: -275px;
  -webkit-transform-origin: 50% calc(106%);
  -ms-transform-origin: 50% calc(106%);
  transform-origin: 50% calc(106%);
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
  -o-transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39);
  transition-timing-function: ease, cubic-bezier(0.17, 0.67, 0.4, 1.39); }

.tooltip-effect-5 .tooltip-text {
  padding: 1.4em; }

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 100%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: rgba(0,0,0,0.8);
  border-width: 10px;
  margin-left: -35px; }

.tooltip-text {
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #ffffff; }

.tooltip-content5 {
  position: absolute;
  z-index: 9999;
  width: 300px;
  left: 50%;
  bottom: 100%;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background: transparent;
  opacity: 0;
  margin: 0 0 20px -150px;
  cursor: default;
  pointer-events: none;
  -webkit-transition: opacity 0.3s 0.3s;
  -o-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }
  .tooltip-content5 span {
    display: block; }

.tooltip-content5::after {
  content: '';
  bottom: -20px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #009efb;
  border-width: 10px;
  margin-left: -10px; }

a.mytooltip {
  font-weight: 500;
  color: #009efb; }
/* ebd new tooltip */

/* new style */
.card-no-border .card{
    border: 0px !important;
}
.deshInfo,.switch label input[type=checkbox]:checked+.lever.switch-col-white:after{
    background-color:#fff
}
.dashBicon{
    font-size:60px;
    position:relative;
    top:30px
}
.deshInfo{
    position:absolute;
    right:0;
    display:none;
    bottom:15px;
    width:30px!important;
    height:30px!important;
    border-radius:25px;
    -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.1);
    box-shadow:0 0 2px 2px rgba(0,0,0,.1);

}
.deshInfo i{
    position:absolute;
    top:-2px;
    left:3px;
    color:#f60;
    font-size:24px
}
.cardLink:hover .deshInfo{
    display:block
}
.deshSvg{
    width:50px;
    margin:25px 0
}
.cardIn{
    min-height:75px;
    margin-top:45px;
    margin-bottom:25px
}
.card-body{
    padding-top:0;
    padding-bottom:0
}
.deshIcons{
    font-size:40px;
    color:#ccc
}
.deshIcons:hover{
    font-size:40px;
    color:#999
}
.dashboard_icons{
    width:100px
}










/* start tooltip style */

.d3-tip {
  line-height: 1;
  font-weight: 100;
  padding: 12px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  line-height: 10px !important;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.dc-chart g.dc-tooltip path.yRef {
  stroke: none;
}

.dc-chart g.dc-tooltip path.xRef {
  stroke: none;
}

.sub._0 .dc-tooltip._0 circle.dot {
  stroke: #627eff;
  fill: #fff;
  r: 4;
}

.sub._1 .dc-tooltip._0 circle.dot {
  stroke: #49d8bb;
  fill: #fff;
  r: 4;
}

.sub._2 .dc-tooltip._0 circle.dot {
  stroke: #fcb247;
  fill: #fff;
  r: 4;
}

.sub._3 .dc-tooltip._0 circle.dot {
  stroke: #dd4197;
  fill: #fff;
  r: 4;
}

.sub._4 .dc-tooltip._0 circle.dot {
  stroke: #2ab34b;
  fill: #fff;
  r: 4;
}
/* end tooltip style */