<div class="dashboard-container" ng-controller="OperatorCtrl" ng-init="getOperatorWiseInventory();">
    <div class="page">
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand">
                                <div class="brand-text brand-big">
                                    <img src="images/abhibus.png" width="50%" alt="">
                                </div>
                                <div class="brand-text brand-small">
                                    <img src="images/abhibus.png" width="40px" alt="">
                                </div>
                            </a>
                        </div>
                        <ul class="nav-menu navbar navbar-right list-unstyled d-flex flex-md-row align-items-md-center" <li class="nav-item">
                            <a href="" ng-click="logOut()" class="nav-link">Logout
                                <i class="fa fa-sign-out"></i>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <user-menu></user-menu>
            <div class="content-inner col-sm-10">
                <!--Payment Gateway Analytics-->
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Operator</h2>
                            <div class="dashboard-wrapper">
                                <div class="col-sm-12" ng-hide="message">
                                    <div class="pad-30">
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12">
                                            <a class="reset" ng-click="resetFilters();" href="#">Reset All</a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div style="display:flex">
                                            <div>
                                                <div class="dataChartWrap">
                                                    <div id="repeat">
                                                        <div class="dropdown">
                                                            <button class="btn btn-custom dropdown-toggle" type="button" id="operators" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                {{selectedOperator}}
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="operators">
                                                                <li ng-repeat="operator in operatorsNames">
                                                                    <a href="#" ng-click="drawGraphforOperator(operator);">{{operator}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div ng-if="!error" id="operatorDataLine"></div>
                                                <div class="rangePos">
                                                    <!-- <div class="rangetoolTip">Scroll Here
                                                <div class="rangetoolTipTail"></div>
                                            </div> -->

                                                </div>
                                                <div ng-if="error">
                                                    {{error}}
                                                </div>
                                                <div id="range-chart"></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- <div class="col-sm-2">
                                    <div class="bubblePos">
                                        <div class="bubbletoolTip">Click Any Bubbles
                                            <div class="bubbletoolTipTail"></div>
                                        </div>
                                    </div>
                                </div> -->
                                        <div class="col-sm-12">
                                            <div id="bubble-Chart"></div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="message" class="col-sm-12  pos-rel">
                                    <div class="subs-message">
                                        <h2>{{message}}</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>