<div class="hats-main slide-main" id="div" ng-controller="UserDashboardCtrl" ng-init="getDetails();">
<div class="page">
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header">
                <a href="/dashboard" class="navbar-brand">
                  <div class="brand-text brand-big"><img src="images/logo.png" width="40px" alt="" > <span>Hats </span><strong> AI</strong> </div>
                  <div class="brand-text brand-small"><span>Hats </span><strong> AI</strong></div></a>
                <a id="toggle-btn" href="#" class="menu-btn"><span></span><span></span><span></span></a>
              </div>
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <li class="nav-item dropdown">
                    <button type="button" class="nav-link language dropdown-toggle dLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedAnalysis || "Pick Analysis"}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul aria-labelledby="languages" class="dropdown-menu">
                        <li ng-repeat="analysis in myData.analysisName">
                            <a rel="nofollow" href="#" class="cursor" ng-click="loadAnalysis($index,analysis);"> {{analysis}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a href="" ng-click="logOut()" class="nav-link">Logout <i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <nav class="side-navbar">
          <ul class="list-unstyled">
              <li><a href="#OverviewDropdown" aria-expanded="false" data-toggle="collapse"> <i class="linea-icon linea-basic fa-fw" data-icon="H"></i> Overview </a>
                <ul id="OverviewDropdown" class="collapse list-unstyled ">
                  <li><a href="/overview-channels">Channels</a></li>
                  <li><a href="/overview-emotions">Emotions</a></li>
                  <li><a href="/overview-mentions">Mentions</a></li>
                  <li><a href="/overview-moments">Moments</a></li>
                  <li><a href="/overview-sentiments">Sentiment</a></li>
                </ul>
              </li>
              <li><a href="#TopicsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="linea-icon linea-basic fa-fw" data-icon="."></i> Topics</a>
                <ul id="TopicsDropdown" class="collapse list-unstyled ">
                  <li><a href="/topics-trends">Bubble Wrap</a></li>
                  <li><a href="/topics-wordcloud">Word Cloud</a></li>
                </ul>
              </li>
              <li><a href="#KeywordsDropdown" aria-expanded="false" data-toggle="collapse"> <i data-icon="3" class="linea-icon linea-basic fa-fw"></i> Keywords</a>
                <ul id="KeywordsDropdown" class="collapse list-unstyled ">
                  <li><a href="/keywords-trend">Bubble Wrap</a></li>
                  <li><a href="/keywords-cloud">Word Cloud</a></li>
                </ul>
              </li>
              <li><a href="#LocationsDropdown" aria-expanded="false" data-toggle="collapse"> <i data-icon="Q" class="linea-icon linea-basic fa-fw"></i> Locations</a>
                <ul id="LocationsDropdown" class="collapse list-unstyled ">
                  <li><a href="/location-cities">Cities</a></li>
                  <li><a href="/location-countries">Countries</a></li>
                </ul>
              </li>
              <li><a href="/influencers-authors"> <i data-icon="" class="linea-icon linea-basic fa-fw"></i> Influencers</a></li>
              <li><a href="/sites"> <i data-icon="E" class="linea-icon linea-basic fa-fw"></i> Sites</a></li>
              <li><a href="/profiles"> <i data-icon="" class="linea-icon linea-basic fa-fw"></i> Profiles</a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <section class="userBoard">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xl-4 col-sm-6">
                  <a href="/overview" class="dlink">
                  <div class="item bg-white has-shadow overview_card">
                    <div class="row">
                        <div class="col-12">
                            <div class="cardIn">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="dashboard_icons overview_pie">&nbsp;</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="dashboard_icons overview_barchart">&nbsp;</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="dashboard_icons overview_bubble">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                                <h2>
                                    Overview
                                </h2>
                        </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick='return false;' data-toggle="tooltip" title="Microblogs like Facebook &amp; Twitter are the best channel to push your product. There is an overall joyous mood. There is an overall positive sentiment. Your audience is active mostly during 1PM pm Tuesdays and Saturdays. You're generating a high amount of impressions on Tuesday.">&nbsp;</span>
                  </a>
                </div>

                <div class="col-xl-4 col-sm-6">
                  <a href="/topics" class="dlink">
                  <div class="item bg-white has-shadow keywords_card">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="cardIn">
                                <div class="row">
                                    <div class="col-2">&nbsp;</div>
                                    <div class="col-4">
                                        <div class="dashboard_icons keywords_bubbleWrap">&nbsp;</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="dashboard_icons topics_wordcloud">&nbsp;</div>
                                    </div>
                                    <div class="col-2">&nbsp;</div>
                                </div>
                            </div>
                                <h2>
                                    Topics
                                </h2>
                        </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick="return false" data-toggle="tooltip" title="Your Highest Occuring Topic Is From News Channels And Its Is Bloomberg.">&nbsp;</span>
                </a>
                </div>
                
                <div class="col-xl-4 col-sm-6">
                  <a href="/influencers-authors" class="dlink">
                  <div class="item bg-white has-shadow influencers_card">
                    <div class="row">
                      <div class="col-12 text-center">
                          <div class="cardIn">
                              <div class="row">
                                  <div class="col-4">&nbsp;</div>
                                  <div class="col-4">
                                      <div class="dashboard_icons influencers_authors">&nbsp;</div>
                                  </div>
                                  <div class="col-4">&nbsp;</div>
                              </div>
                          </div>
                              <h2>
                                  Influencers
                              </h2>
                      </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick="return false" data-toggle="tooltip" title="There are a lot of individual who can generate the Volume metric.">&nbsp;</span>
                  </a>
                </div>

                <div class="col-xl-4 col-sm-6">
                  <a href="/locations" class="dlink">
                  <div class="item bg-white has-shadow locations_card">
                    <div class="row">
                      <div class="col-12 text-center">
                          <div class="cardIn">
                              <div class="row">
                                  <div class="col-2">&nbsp;</div>
                                  <div class="col-4">
                                      <div class="dashboard_icons locations_cities">&nbsp;</div>
                                  </div>
                                  <div class="col-4">
                                      <div class="dashboard_icons locations_countries">&nbsp;</div>
                                  </div>
                                  <div class="col-2">&nbsp;</div>
                              </div>
                          </div>
                              <h2>
                                  Locations
                              </h2>
                      </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick="return false" data-toggle="tooltip" title="London generates a lot of impressions for you.">&nbsp;</span>
                  </a>
                </div>

                <div class="col-xl-4 col-sm-6">
                  <a href="/keywords" class="dlink">
                  <div class="item bg-white has-shadow keywords_card">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="cardIn">
                                <div class="row">
                                    <div class="col-2">&nbsp;</div>
                                    <div class="col-4">
                                        <div class="dashboard_icons keywords_bubbleWrap">&nbsp;</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="dashboard_icons keywords_wordcloud">&nbsp;</div>
                                    </div>
                                    <div class="col-2">&nbsp;</div>
                                </div>
                            </div>
                                <h2>
                                    Keywords
                                </h2>
                        </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick="return false" data-toggle="tooltip" title="Your highest occuring keyword is Brexit form Micro Blogs.">&nbsp;</span>
                  </a>
                </div>

                <div class="col-xl-4 col-sm-6">
                  <a href="/sites" class="dlink">
                  <div class="item bg-white has-shadow sites_card">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="cardIn">
                                <div class="row">
                                    <div class="col-4">&nbsp;</div>
                                    <div class="col-4">
                                        <div class="dashboard_icons sites_sites">&nbsp;</div>
                                    </div>
                                    <div class="col-4">&nbsp;</div>
                                </div>
                            </div>
                                <h2>
                                    Sites
                                </h2>
                        </div>
                    </div>
                  </div>
                  <span class="deshInfo" onclick="return false" data-toggle="tooltip" title="Your largest impression generation sites are Twitter and Reddit.">&nbsp;</span>
                  </a>
                </div>                

                <div class="col-xl-4 col-sm-6">
                  <a href="/profiles" class="dlink">
                  <div class="item bg-white has-shadow profiles_card">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="cardIn">
                                <div class="row">
                                    <div class="col-4">&nbsp;</div>
                                    <div class="col-4">
                                        <div class="dashboard_icons profiles_profiles">&nbsp;</div>
                                    </div>
                                    <div class="col-4">&nbsp;</div>
                                </div>
                            </div>
                                <h2>
                                    Profiles
                                </h2>
                        </div>
                    </div>
                  </div>
                  </a>
                </div> 

              </div>
            </div>
          </section>
          
        </div>
      </div>
    </div>
</div>
<script>
$(document).ready(function () {
    'use strict';
    $(".deshInfo").unbind("click")
    $('.side-navbar').addClass('shrinked'); // default menu close
    $('[data-toggle="tooltip"]').tooltip(); // default tooltip
    $('#toggle-btn').on('click', function (e) { // Sidebar Functionality
        e.preventDefault();
        $(this).toggleClass('active');
        $('.side-navbar').toggleClass('shrinked');
        $('.content-inner').toggleClass('active');
        $(document).trigger('sidebarChanged');
        if ($(window).outerWidth() > 1183) {
            if ($('#toggle-btn').hasClass('active')) {
                $('.navbar-header .brand-small').hide();
                $('.navbar-header .brand-big').show();
            } else {
                $('.navbar-header .brand-small').hide();
                $('.navbar-header .brand-big').show();
            }
        }
        if ($(window).outerWidth() < 1183) {
            $('.navbar-header .brand-small').show();
        }
    });
});
</script>