
@font-face {
  font-family: 'Campton-Medium';
  src: url('Campton-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton-Medium';
  src:  url('../fonts/Campton-Medium/Campton-Medium.woff') format('woff'),
		url('../fonts/Campton-Medium/Campton-Medium.ttf') format('truetype'),
		url('../fonts/Campton-Medium/Campton-Medium.svg#Campton-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


