<section class="dashboard-container" ng-controller="AdminCtrl">
        <div>
                <admin-menu></admin-menu>
        </div>
	<div class="dashboard-wrapper">
		<div class="col-sm-12">
			<div class="hor-tab-content">
				<div class="col-sm-12">
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Name" ng-model="client.name" class="form-control login-input" >
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Email" ng-model="client.email" class="form-control login-input" >
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Phone" ng-model="client.phone" class="form-control login-input" >
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Organization" ng-model="client.organization" class="form-control login-input" >
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Industry" ng-model="client.industry" class="form-control login-input" >
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="Analysis Name" ng-model="client.analysisName" class="form-control login-input">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group">
                        <tags-input class="custom-client-tag" ng-model="client.tags"></tags-input>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input id="dashboardImgSel" type="file"  ngf-select
                        ng-model="client.file"
                        name="File"
                        ngf-max-size="120MB"
                        fileread required multiple/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 form-group">
                        <textarea placeholder="Description" ng-model="client.description" class="form-control login-input" ></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="createClient();">Submit</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>



