<section class="dashboard-container" ng-controller="AdminCtrl">
	<div class="dashboard-wrapper">
		<div class="col-sm-2 hor-left-tabs">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<admin-menu></admin-menu>
		</div>
		<div class="col-sm-10">
			<div class="hor-tab-content">
				<div class="col-sm-12">
                    <div id="sample-chart-microblogs">

                    </div>
                    <div id="sample-chart-forums">
                        
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
    
            var microBlogChart = dc.pieChart("#sample-chart-microblogs"), forumsChart = dc.pieChart("#sample-chart-forums")/* , combinedChart=dc.bubbleChart("#combinedBubbleChart") */;
            d3.csv("activity-channels.csv",function(err,data){
                console.log("Data or Error",err,data)
                if (err && err.target.status === 404) {
                    console.log("File not found")
                    throw err;
                  }else{
                    var ndx = crossfilter(data);
                    console.log("All Data",data);
                    var all = ndx.groupAll();
                    /* var combinedDim = ndx.dimension(function(d) {return d['car-type']}); */
                    var microBlogDim = ndx.dimension(function(d) { return d['micro-blogs']; });
                    var forumsDim = ndx.dimension(function(d) { return d['forums']; });
    
                    /* var combinedGroup = combinedDim.group(); */
                    var microBlogGroup = microBlogDim.group();
                    var forumsGroup = forumsDim.group();
    
    
                    /* combinedChart
                    .dimension(combinedDim)
                    .group(combinedGroup); */
    
    
                    microBlogChart
                    .width(500)
                    .height(480)
                    .slicesCap(8)
                    .innerRadius(50)
                    .dimension(microBlogDim)
                    .group(microBlogGroup);
    
                    forumsChart
                    .width(768)
                    .height(480)
                    .slicesCap(2)
                    .innerRadius(100)
                    .dimension(forumsDim)
                    .group(forumsGroup);
    
    
                    dc.renderAll();
                }
            });
        </script>