<!doctype html>
<html>
<head>
    <title>Abhi Bus</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/components/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/components/dcjs/dc.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/tooltip.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css"> -->
</head>
<body ng-cloak ng-app="abhiBus">
    <div ng-controller="LoginCtrl">

    </div>
    <ui-view auto-scroll="true"></ui-view>

    <script type="text/ng-template" id="pop-up-modal.html">
    <div ng-include="template"></div>
</script>

    



    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
    <script type="text/javascript" src="components/crypto-js/crypto-js.js"></script>
    <script type="text/javascript" src="components/cryptojslib/rollups/sha3.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="components/sweetalert2/dist/sweetalert2.all.js"></script>
    <script type="text/javascript" src="components/colorbrewer/colorbrewer.js"></script>
    <script type="text/javascript" src="components/crossfilter2/crossfilter.js"></script>
    <script type="text/javascript" src="components/d3/d3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="components/dcjs/dc.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <!--app-->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/toolTip.js"></script>
    <!--Services-->
    <script type="text/javascript" src="js/services.js"></script>
    <!--Controllers-->
    <script type="text/javascript" src="js/controllers/home.js"></script>
    <script type="text/javascript" src="js/controllers/modalCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/admin/admin.js"></script>
    <script type="text/javascript" src="js/controllers/user/userdashboardctrl.js"></script>
    <script type="text/javascript" src="js/controllers/user/paymentGateway.js"></script>
    <script type="text/javascript" src="js/controllers/user/operatorAnalysis.js"></script>
</body>
</html>